<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--Connection-->
        <property name="connection.url">
            jdbc:derby:db//Nohagim;create=true
        </property>
        <property name = "hibernate.connection.driver_class">
            org.apache.derby.jdbc.EmbeddedDriver
        </property>

        <!-- Config: DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--Mapping Classes:-->
        <mapping class="nohagim.Entities.Driver"/>

        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

    </session-factory>
</hibernate-configuration>